<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="danski.dotareader" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <meta-data
        android:name="com.samsung.android.sdk.multiwindow.enable"
        android:value="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HeroList"
            android:label="@string/title_activity_hero_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="danski.dotareader.MainActivity" />
        </activity>
        <activity
            android:name=".Preferences"
            android:label="@string/title_activity_preferences"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="danski.dotareader.MainActivity" />
        </activity>
        <activity
            android:name=".MatchHistoryActivity"
            android:label="@string/title_activity_match_history"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="danski.dotareader.MainActivity" />
        </activity>
        <activity
            android:name=".TabbedMatchActivity"
            android:label="@string/title_activity_tabbed_match" >
        </activity>
    </application>

</manifest>
